@media screen and (min-width: 359px) and (max-width: 385px) {
    .logo__sigla-pp {
        display: none;
    }
}
.ficha {
    width: var(--layout-width);
    margin: 30px auto;
    font-size: 13.5px;
    font-weight: 700;
}
@media print {
    .ficha {
        margin-top: 20px;
        color: var(--fullblack);
    }
    .ficha--verso {
        page-break-before: always;
    }
}
.ficha .line-height-gt-1,
.linha-de-emblema-e-titulo__descricao-de-emblema span {
    line-height: 1.2;
}
.linha-de-emblema-e-titulo {
    display: grid;
    grid-template-columns: 65px 200px 1fr 150px;
}
.linha-de-emblema-e-titulo__descricao-de-emblema {
    font-size: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.linha-de-emblema-e-titulo__container-de-titulo {
    align-self: center;
    justify-self: center;
}
.ficha__titulo {
    font-size: 19.33px;
}
.ficha__mod-sis-h22-d {
    font-size: 11px;
}
.linha-de-prov-dist-us-e-ano {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 34px;
    margin-bottom: 5px;
    justify-items: flex-end;
    min-height: 21px;
}
.ficha__grade-sup {
    display: grid;
    grid-template-columns: 184px 1fr;
    margin-bottom: 5px;
}
.ficha__grade-sup__col-1 {
    display: grid;
    grid-template-rows: calc(24px + 14px + 60px + 42px) 30px 1fr;
    text-align: center;
}
.ficha__grade-sup__titulo {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    min-height: 24px;
}
.ficha__grade-sup__linha-de-nums-de-cols {
    display: grid;
    grid-template-columns: 68px calc(68px * 2) calc(49px * 2) calc(42px * 5) calc(42px * 10)  calc(42px * 5);
    background-color: var(--fullblack);
    height: 14px;
}
.ficha__grade-sup__linha-de-nums-de-cols span {
    color: var(--yt);
    border-color: var(--yt);
    border-width: 2px;
    font-size: 11px;
}
.ficha__grade-sup__linha-de-titulos-das-cols {
    display: grid;
    grid-template-columns: 68px calc(68px * 2) calc(49px * 2) repeat(3, calc(42px * 5))  calc(42px * 5);
    grid-template-rows: repeat(3, 20px);
    text-align: center;
    text-transform: uppercase;
}
.rowspan-3 {
    grid-row: 1/4;
}
.ficha__col-vigilancia-epidemiologia,
.ficha__grade-sup__col-total-sindrome-its,
.input-l3-c1 {
    grid-column: 4/8;
    text-align: center;
}
.ficha__col-ulcera-genital {
    grid-column: 5/7;
}
.ficha__col-ulcera-genital--grid-row-1 {
    grid-row: 1;
}
.ficha__grade-sup__linha-de-faixas-etarias,
.ficha__grade-sup__linha-de-inputs {
    display: grid;
    grid-template-columns: repeat(3, 68px) repeat(2, 49px) repeat(20 ,42px);
    grid-template-rows: 30px;
}
.ficha__grade-sup__linha-de-faixas-etarias {
    grid-template-rows: 42px;
}
.ficha__grade-sup__linha-de-faixas-etarias div {
    position: relative;
}
.ficha__grade-sup__linha-de-faixas-etarias div:nth-child(n+6) span {
    transform: rotate(-90deg);
}
.celula-nao-aplicavel {
    background-color: var(--cor-de-texto);
}
.ficha__grade-sup__linha-de-total-cu-ug-leucorreia {
    display: grid;
    grid-template-columns: 68px calc(68px * 2) calc(49px * 2) repeat(3, calc(42px * 5))  calc(42px * 5);
    grid-template-rows: repeat(2, 20px) 24px repeat(2, 20px);
    text-transform: uppercase;
}
.rowspan-5 {
    grid-row: 1/6;
}
.rowspan-2 {
    grid-row: 1/3;
}
.ficha__grade-inf {
    display: grid;
    grid-template-columns: 1036px 1fr;
    grid-column-gap: 30px;
}
.ficha__grade-inf__header, 
.ficha__grade-inf__linha {
    display: grid;
    grid-template-columns: calc(184px + 68px * 3)  calc(49px * 2) repeat(5, calc(42px * 2)) repeat(3, 42px);
}
.ficha__grade-inf__header {
    grid-template-rows: repeat(3, 20px);
    text-align: center;
}
.ficha__grade-inf__header > div:first-child span {
    text-align: left;
    padding-left: 4px;
}
.ficha__grade-inf__colspan-3 {
    grid-column: 5/8;
}
.ficha__grade-inf__colspan-3--prioridade {
    grid-column: 8/11;
}
.ficha__grade-inf__rowspan-3--tendencia {
    grid-row: 2/4;
    align-items: flex-end;
}
.ficha__grade-inf__linha {
    font-size: 11px;
}
.ficha__grade-inf__linha > div:first-child {
    padding: 0 0 0 4px;
}
.ficha__grade-inf__linha span {
    line-height: 1.3;
}
.ficha__grade-inf__linha > div:nth-child(2){
    font-size: 10.5px;
    text-align: center;
}
.grade-inf__col2__titulo {
    text-align: center;
    margin-bottom: 6px;
}
.ficha__grade-inf__col2 {
    padding-top: 43px;
}
.grade-inf__col2__tabela--1 {
    display: grid;
    grid-template-rows: 30px 45px 44px;
    margin-bottom: 25px;
}
.grade-inf__col2__tabela--2 {
    display: grid;
    grid-template-rows: 18px 43px 30px 43px 30px;
    position: relative;
}
.grade-inf__col2__tabela span {
    padding-left: 4px;
    font-size: 12px;
}
.ficha-verso__linha-1 {
    display: grid;
    grid-template-columns: 184px calc(23 * 42px) calc(88px + 42px * 2);
}
.ficha-verso__linha__col-de-titulo {
    grid-column: 2/3;
    margin-left: -3px;
}
.ficha-verso__col2-da-grade-sup__linha-de-titulo {
    margin-left: 4px;
}
.ficha__grade-sup__titulo--fs-small {
    text-align: center;
    font-size: 13px !important;
}
.ficha-verso__linha-2 {
    display: grid;
    grid-template-columns: 184px calc(42px * 13) calc(42px * 4) repeat(2, calc(42px * 3)) 88px calc(42px * 2);
}
.ficha-verso__linha-2__col1 {
    margin-top: -2px;
} 
.ficha-verso__linha-2__col2 {
    display: grid;
    grid-template-rows: 14px repeat(2, 20px) repeat(2, 42px);
}
.ficha-verso__linha-2__num-de-col {
    background-color: var(--fullblack);
    border-color: var(--yt);
    color: var(--yt);
    font-size: 11px;
}
.ficha-verso__linha-2__titulos-pertence-e-subgrupos {
    display: grid;
    grid-template-columns: calc(42px * 4) 1fr;
}
.ficha-verso__linha-2__sexo-e-pc {
    display: grid;
    grid-template-columns: repeat(3, calc(42px * 2)) 42px repeat(3, calc(42px * 2));
}
.ficha-verso__linha-2__sexo-e-pc div,
ficha-verso__linha-2__s-n-e-sexo div {
    position: relative;
}
.ficha-verso__linha-2__sexo-e-pc abbr,
.ficha-verso__linha-2__s-n-e-sexo span {
    transform: rotate(-90deg);
}
.ficha-verso__linha-2__s-n-e-sexo {
    display: grid;
    grid-template-columns: repeat(13, 42px);
    font-size: 12.5px;
}
.ficha-verso__linha-2__resultados-de-hiv {
    display: grid;
    grid-template-columns: repeat(4, 42px);
}
.ficha-verso__linha-2__grid-template-cols-3 {
    display: grid;
    grid-template-columns: repeat(3, 42px);
}
.ficha-verso__linha-2__grid-template-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 42px);
}
.ficha-verso__linha-2__col3,
.ficha-verso__linha-2__col4,
.ficha-verso__linha-2__col6,
.ficha-verso__linha-2__col7 {
    display: grid;
    grid-template-rows: 14px calc(20px * 2 + 42px);
    text-align: center;
}
.ficha-verso__linha-2__col5 {
    display: grid;
    grid-template-rows: 14px 20px auto;
    text-align: center;
}
.ficha-verso__linha-2__rowspan-2 {
    grid-row: 1/3;
}
.ficha-verso__linha-2__meios-de-prevencao {
    display: grid;
    grid-template-rows: calc(20px + 42px) 42px;
}
.ficha-verso__linha-2__col6,
.ficha-verso__linha-3__col-com-margin-l {
    margin-left: 4px;
}
.ficha-verso__linha-2__sexos-da-ultima-col,
.ficha-verso__linha-3__col-com-margin-l {
    display: grid;
    grid-template-columns: repeat(2, 42px);
}
.ficha-verso__linha-3 {
    display: grid;
    grid-template-columns: 184px repeat(23, 42px) 88px repeat(2, 42px);
    grid-template-rows: 50px;
}
.ficha-verso__linha-3 input:nth-child(5) {
    border-bottom: 2px solid var(--cor-de-borda);
}
.ficha-verso__linha-4 {
    display: grid;
    grid-template-columns: 184px calc(42px * 4) calc(42px * 9) calc(42px * 4) calc(42px * 3) repeat(3, 42px) 88px calc(42px * 2);
    grid-template-rows: 50px;
    text-align: center;
    margin-bottom: 4px;
}
.fvl2-c1 {
    border-bottom-width: 3px;
}
.fvl2-c8 {
    margin-left: 4px;
}
.ficha-verso__seccao-observacoes,
.ficha-verso__linha-consulta-ct,
.ficha-verso__seccao-control-de-qualidade,
.ficha-verso__seccao-validacao {
    width: 1322px;
    display: grid;
}
.ficha-verso__seccao-observacoes {
   margin-bottom: 6px;
}
.ficha-verso__seccao-observacoes__label, 
.ficha-verso__seccao-observacoes__textarea {
    padding: 4px;
}
.ficha-verso__seccao-observacoes__textarea {
    font-style: italic;
    font-weight: 700;
}
.ficha-verso__seccao-observacoes__textarea {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.ficha-verso__seccao-observacoes__textarea:focus {
    background-color: var(--greenyellow);
    border-color: var(--blue);
}
.ficha-verso__seccao-observacoes__num-justificacoes {
    width: calc(42px * 9 + 84px);
    justify-self: end;
    display: grid;
    grid-template-columns: auto calc(42px * 2);
    grid-template-rows: 24px;
    overflow: hidden;
}
.ficha-verso__seccao-observacoes__input {
    height: 100%;
}
.ficha-verso__linha-consulta-ct {
    grid-template-columns: calc(184px + 42px * 4) calc(42px * 9) calc(42px * 4) calc(42px * 2) calc(42px * 6) calc(41px * 2);
    grid-template-rows: 24px;
    overflow: hidden;
    margin-bottom: 6px;
}
.ficha-verso__linha-consulta-ct label {
    padding-left: 4px;
}
.ficha-verso__seccao-control-de-qualidade {
    grid-template-rows: 30px repeat(2, 24px);
}
.ficha-verso__seccao-control-de-qualidade__linha {
    display: grid;
    grid-template-columns: calc(184px + 42px * 23 + 84px) calc(41px * 2);
}
.ficha-verso__seccao-control-de-qualidade__linha p,
.ficha-verso__seccao-validacao p {
    padding-left: 4px;
}
.ficha-verso__seccao-control-de-qualidade__linha:first-child p {
    padding-left: 23px;
}
.ficha-verso__seccao-control-de-qualidade__trecho-de-titulo {
    font-size: 18.2px;
    text-decoration: underline;
}
.ficha-verso__seccao-control-de-qualidade__linha input {
    text-align: center;
}
.ficha-verso__seccao-validacao {
    border-top: none;
    grid-template-rows: 58px 1fr;
}
.ficha-verso__seccao-validacao__titulo {
    font-size: 19.33px;
    display: flex;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
}
.ficha-verso__seccao-validacao__tabelas {
    display: grid;
    grid-template-columns: 665px 1fr;
}
.ficha-verso__seccao-validacao__tabelas p {
    line-height: 1.3;
}
.ficha-verso__seccao-validacao__tabela1 {
    border-right: 25px solid var(--fullblack);
}
.ficha-verso__seccao-validacao__titulo-de-tabela {
    display: grid;
    grid-template-rows: 24px;
}
.seccao-validacao__tabela__linha {
    display: grid;
    grid-template-columns: 90px 130px 75px 90px 179px 75px;
    grid-template-rows: 30px;
}
.seccao-validacao__tabela__linha--t2 {
    grid-template-columns: 90px 200px repeat(4, 90px);
}
.seccao-validacao__tabela2__linha-de-titulo {
    display: grid;
    grid-template-columns: calc(90px + 200px + 90px) 1fr;
    grid-template-rows: 23px;
}
.seccao-validacao__tabela__linha span,
.seccao-validacao__tabela__linha label {
    padding-left: 4px;
}
.ficha__rodape {
    display: grid;
    grid-template-columns: 645px 656px;
    grid-column-gap: 21px;
    margin-top: 4px;
}
.ficha__rodape__col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 18px 1fr;
}
.ficha__rodape__col--cols-3 {
    grid-template-columns: repeat(3, 1fr);
}
.ficha__rodape__col-elaborado-por {
    grid-column: 1/3;
    text-align: center;
}
.ficha__rodape__col-validado-por {
    grid-column: 1/4;
}
.ficha__rodape__col-nome,
.ficha__rodape__col-assinatura,
.ficha__rodape__col-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    min-height: 34.6px;
}
.ficha__rodape input {
    text-align: center;
}
[data-total]:focus,
.input-celular--focus:focus,
.input-nao-celular:focus {
    border-bottom: 2px solid var(--blue);
    background-color: var(--greenyellow);
    color: var(--cor-de-texto);
}
@media screen {
    .input--realcar-totais {
        background-color: var(--cor-de-realce-de-totais);
    }
}
.input--bg-color-danger {
    background-color: var(--cor-de-risco);
    color: var(--yt)
}
.input--bg-color-dark {
    background-color: var(--fullblack);
    color: var(--yt)
}
.input--fs-small {
    font-size: 12px;
}
.input--fs-smaller {
    font-size: 11px;
}
.--fw-700 {
    font-weight: 700;
}
.dialog-box-esvaziar-ficha__ul-dados-adicionais__obs {
    display: none !important;
}